.site-header,
.site-header.fixed {
    padding-top: 45px;
    position: absolute !important;
}

#masthead .site-logo {
    height: 115px;
    width: 120px;
    max-height: none;
    max-width: none;
}

#masthead .social-widget {
    margin: -58px 0 0 0;
}

#masthead .social-widget a {
    text-align: center;
    height: 28px;
    width: 28px;
    padding: 0 !important;
    margin-left: 1px;
}

#masthead .social-widget a i {
    line-height: 28px !important;
}

#mainnav {
    margin: -56px 0 0 0;
    float: right;
}

#mainnav ul li a {
    font-size: 14px;
    font-weight: bold !important;
    font-family: 'Avenir Next LT Pro' !important;
}

#mainnav ul li.current-menu-item a {
    color: #5fc2c5;
}

#slideshow .slide-inner {
    left: 0;
    max-width: 1200px;
}

.roll-button {
    font-size: 18px;
    line-height: 29px;
    position: relative;
    font-weight: 100;
    padding-left: 14px;
    padding-right: 14px;
}

.roll-button.customNextBtn {
    position: relative;
}

#main #sessao .hat-home {
    color: #fff;
    font-size: 22px;
    font-weight: normal;
}

#main #sessao .box-title {
    padding: 10px 0;
}

#main #sessao .box-title > h3,
#main #sessao .box-title > h3 > a {
    font-size: 18px;
    margin: 0;
    line-height: 18px;
}

#main #sessao .palestras #codewidget-6 {
    margin-top: -46px;
}

#main #sessao .palestras #codewidget-6 .hat-home {
    color: #000;
}

.mec-wrap article:not([class^=mec-event-countdown]):not([class^=mec-event-cover-]).mec-label-canceled:before,
.mec-wrap article:not([class^=mec-event-countdown]):not([class^=mec-event-cover-]).mec-label-featured:before {
    display: none !important;
}

#footer-gc {
    position: relative;
    overflow: hidden;
    margin-top: 0;
    z-index: 0;
    padding-top: 10em !important;
}

#footer-gc .col-f .site-logo {
    max-height: 115px;
    margin-top: -85px;
}

#footer-gc .col-s ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#footer-gc .col-s ul li {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}

#footer-gc .col-s ul li a {
    display: block;
    color: #fff;
    padding: 0 7px;
    position: relative;
    font-size: 16px;
    font-family: "Prompt", sans-serif !important;
    font-weight: 600 !important;
    text-decoration: none;
    outline: none;
}

#footer-gc .col-s p {
    color: #fff;
    margin: 30px 0;
}

#footer-gc .col-t {
    text-align: right;
}

#footer-gc .col-t .custom-html-widget a {
    display: inline-block;
}

#footer-gc .col-t .custom-html-widget {
    margin-top: -25px;
}

#footer-gc .facebook,
#footer-gc .twitter,
#footer-gc .youtube,
#footer-gc .linkedin,
#footer-gc .instagram {
    background: #fff;
    color: #373f48;
    border-radius: 50%;
    height: 35px;
    display: inline-block;
    text-align: center;
    width: 35px;
    padding: 0;
    align-items: normal;
    text-align: center;
}

#footer-gc .facebook i,
#footer-gc .twitter i,
#footer-gc .youtube i,
#footer-gc .linkedin i,
#footer-gc .instagram i {
    font-size: 21px;
    line-height: 35px;
}

#codewidget-8 {
    margin-bottom: 65px;
}

.topo-interna {
    z-index: auto;
}

.bg-internas {
    height: 400px !important;
}

.topo-interna h2 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0;
    font-family: 'Avenir Next LT Pro';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
}

#listas {
    margin-top: 15px !important;
}

#listas .lista-obras strong,
.lista-obras-carousel strong {
    display: block;
    font-size: 16px;
    margin-top: 15px;
    line-height: 22px;
    color: #3e3d47;
    font-family: Helvetica;
}

.lista-obras-carousel span {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #3e3d47;
    font-family: Helvetica;
}

#page {
    position: relative;
    z-index: 1;
    background-color: #fff;
}

#content {
    position: relative;
    z-index: 1;
}

#main aside.videos {
    padding-right: 0 !important;
}

#main .videos .widget_media_image {
    left: 30px !important;
    top: 18px !important;
}

#main.main-artigos .videos .widget_media_image {
    top: -10px !important;
}

.post-type-archive .bg-internas {
    background: none top center #657e9c;
}

.bg-internas {
    background-image: none !important;
}

.podcast-widget > div {
    background-color: #657e9c;
    position: relative;
    min-height: 250px;
    overflow: hidden;
    margin-bottom: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.podcast-widget > div img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    border-radius: 0;
}

.podcast-widget > div .podcast_player {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

.podcast-widget .episode-title,
.biografias .podcast-episode .episode-title {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: inherit;
    bottom: 40px;
    margin: 0;
    padding: 15px;
    z-index: 1;
    width: 100%;
    color: #fff;
    font-weight: bold;
}

.podcast-widget .episode-excerpt {
    display: none;
}

.mec-calendar .mec-event-article .mec-event-title a {
    font-size: 18px;
    margin: 0;
    line-height: 18px;
}

.sydney-hero-area > div {
    position: relative;
}

.mec-calendar.mec-calendar-daily .mec-calendar-d-table {
    bottom: -32px !important;
}

.article-box .box-title {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    position: absolute;
    width: auto;
    margin: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.article-box .box-title a.cat {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #567faf;
    font-family: 'Avenir Next LT Pro' !important;
    font-weight: 500;
    text-transform: uppercase;
}

.article-box .box-title .reading-time {
    color: #9b9b9b;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    font-family: Arial;
    text-align: right;
}

.article-box .box-title .title {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Avenir Next LT Pro' !important;
    margin: 10px 0;
}

.article-box .box-title .title > a {
    font-size: 18px;
    line-height: 20px;
}

.article-box .box-title .leia {
    background: #b8c671;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff !important;
    font-size: 14px !important;
    padding: 2px 15px;
    float: right;
    font-family: Arial;
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 20px;
}

.article-box .box-title .text-center .leia {
    float: none;
    clear: both;
    text-align: center;
    display: inline-block;
}

.article-box.news-special .box-title {
    top: 0 !important;
}

.mec-wrap.mec-sm959 .mec-calendar:not(.mec-event-calendar-classic):not(.mec-calendar-weekly) .mec-calendar-header {
    margin-top: 0;
    padding-top: 0;
}

.mec-wrap.mec-sm959 .mec-calendar:not(.mec-event-calendar-classic):not(.mec-calendar-weekly) .mec-calendar-side {
    width: 100% !important;
    display: block !important;
    padding: 0 !important;
}

.mec-calendar .mec-calendar-events-side {
    display: none !important
}

#load-more-works-cpt,
#load-more-works-cpt-2 {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    background-color: #88c599;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 2px 30px;
    margin-top: 30px;
    font-family: Arial;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: bold;
}

.single .topo-interna {
    min-height: 200px;
}

.single #secondary .videos {
    padding: 1.7em 0em 0em 0em !important;
}

.box-img {
    max-height: 400px;
}

.box-img.box-img-land {
    max-height: 430px;
    overflow: hidden;
}

.box-img.box-img-land.box-img-land-2 {
    max-height: 400px;
}

.box-img.box-img-land img {
    width: 100% !important;
    height: auto !important;
}

.corner {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.text-slider .maintitle,
.text-slider .maintitle, .text-slider .subtitle {
    font-size: 48px !important;
    font-family: 'Avenir Next LT Pro' !important;
    font-weight: 900 !important;
    line-height: 50px;
}

.slide-inner {
    top: 62%;
}

.hat-home {
    font-size: 18px !important;
    font-family: 'Avenir Next LT Pro' !important;
    font-weight: 900 !important;
    line-height: 23px;
    color: #3e3d47;
}

.hat-home.hat-home-internal {
    font-family: 'Avenir Next LT Pro' !important;
    color: #3e3d47 !important;
    font-size: 36px !important;
    line-height: 50px !important;
}

.box-img a {
    display: block;
}

.box-img img {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    max-width: none;
    min-height: 400px;
}

.box-img i.fa {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
}

.cd-horizontal-timeline .events-content {
    max-height: 438px;
}

.cd-horizontal-timeline .events-content li {
    left: 0 !important;
}

.sessao-1 {
    margin: -230px 0 75px;
}

.sessao-2 {
    margin-bottom: 75px;
}

.sessao-3 {
    padding: 0 !important;
}

.sessao-4 .hat-home, .sessao-3 .hat-home {
    color: #3e3d47;
    margin: 0 0 20px 0;
}

.obras-row .hat-home {
    display: none;
}

.obras-row .lista-obras img {
    width: 100%;
    height: auto;
}


.bg-footer {
    transform: skewY(4deg);
    transform-origin: bottom right;
    background-color: #3e3d47;
    background-image: none !important;
    bottom: -100px !important
}

#slide-next-prev-btns {
    /*background: #76fcdb!important;
    border-radius: 5px;*/
    background: none;
    right: auto;
    left: 0;
}

#slide-next-prev-btns .roll-button {
    display: inline-block;
    border-radius: 0;
}

#slide-next-prev-btns .roll-button.customPrevBtn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#slide-next-prev-btns .roll-button.customNextBtn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: -3px;
    position: relative;
}

.slide-next-prev-btns-holder-bg {
    display: inline-block;
    position: relative;
    background: #76fcdb !important;
    border-radius: 3px;
}

.slide-next-prev-btns-holder-bg::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 24px;
    background: #ffffff;
    top: 6px;
    right: 50%;
    margin-right: -1px;
}

.bio-box {
    overflow: hidden !important;
    position: relative;
}

.bio-box .desc {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #3e3d47;
    padding: 15px 15px 30px;
    position: absolute;
    width: auto;
    margin: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.bio-box .desc p {
    margin: 0;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-family: Helvetica;
    font-weight: 500;
}

.bio-box .desc a {
    background: #b8c671;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff !important;
    font-size: 14px !important;
    padding: 2px 15px;
    font-family: Arial;
    margin-top: 15px;
    position: absolute;
    width: 170px;
    text-align: center;
    bottom: -15px;
    left: 50%;
    margin-left: -85px;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: bold;

}

.videos.videos-no-pd {
    padding: 0 !important;
}

.videos.videos-no-pd .hat-home {
    display: none;
}

.videos.videos-no-pd .widget_youtube_responsive {
    margin-top: 20px;
}

.videos.videos-no-pd .widget_youtube_responsive:first-of-type {
    margin-top: 0;
}

#artigos-1 {
    margin-top: 30px;
}

#artigos-1,
#artigos-2,
#artigos-3,
#artigos-4 {
    margin-bottom: 30px;
}

#artigos-1 .article-box .box-title .leia {
    margin: 0 !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.feature-clients-row .item {
    text-align: center;
    max-width: 165px;
    margin: auto;
}

.feature-clients-row .item img {
    width: 100%;
    height: auto;
    max-width: 165px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next {
    position: absolute;
    top: 62px;
    line-height: 30px;
    font-size: 30px;
    width: 15px;
    display: inline-block;
    left: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    left: auto;
    right: 0;
}

.showcase-interna {
    margin: auto !important;
    padding: auto !important;
}

.newsletter-home .bt-1 {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    font-family: Arial;
    font-weight: bold;
    background: #b8c671;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff !important;
    padding: 0.3em 1.5em;
    border: 0;
    text-transform: none;
}

.admin-bar .site-header,
.admin-bar .site-header.float-header {
    top: inherit !important;
}

.news-special {
    min-height: 400px;
    padding: 15px !important;
}

.page-template-page-artigos .news-special {
    min-height: 430px;
}

.page-template-page-artigos .news-special.article-box .box-title {
    min-height: 430px;
    padding: 0 !important;
}

.page-template-page-obras .lista-obras {
    margin: 0 0 15px 0;
    height: auto;
    min-height: 335px;
}

.page-template-page-obras #listas {
    margin-top: 30px !important;
}

.client-item {
    margin-bottom: 30px;
}

.client-item .client-item-container {
    min-height: 165px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.client-item .client-item-container .client-item-thumb {
    background-color: #f3f3f3;
    height: 100%;
    width: 100%;
    display: block;
    min-height: 165px;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
}

.page-template-page-palestras .showcase-interna {
    margin-top: 30px !important;
}

.content-area {
    margin-top: 30px !important;
}

.single .page-wrap .content-wrapper {
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.single .entry-header,
.page .entry-header {
    margin-bottom: 0 !important;
}

.video-sidebar-widget .widget_youtube_responsive {
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
}

.video-sidebar-widget .hat-home {
    display: none !important;
}

.hentry .meta-post, .hentry .meta-post a {
    margin: 0 !important;
}

.img-responsive.responsive--full {
    max-width: none;
    width: 100%;
}

.single-subtitle {
    font-size: 30px;
    line-height: 36px;
    color: #000;
    font-family: 'Avenir Next LT Pro' !important;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.tags-links a {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-family: 'Avenir Next LT Pro' !important;
    font-weight: 500;
    background: none;
    text-transform: none;
    padding: inherit;
}

.close-nav {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    line-height: 28px;
    padding: 0;
}

#masthead .social-widget-holder-mobile {
    display: none;
}

.videos-mobile {
    display: none;
}

.widget_youtube_responsive {
    width: 100%;
    margin: 0;
}

.btn-menu {
    line-height: 28px;
}

@media (max-width: 1024px) {

    .hide-mobile {
        display: none !important;
    }

    .container, .container-fluid {
         padding-left: 15px !important;
         padding-right: 15px !important;
    }

    #masthead .social-widget {
        display: none !important;
        margin: 30px 0 0 !important;
        padding: 10px 28px;
    }

    #masthead .social-widget-holder-mobile,
    #masthead .social-widget-holder-mobile .social-widget {
        display: block !important;
        text-align: right;
    }

    #masthead .social-widget a {
        height: 35px;
        width: 35px;
    }

    #masthead .social-widget a i {
        line-height: 35px !important;
        font-size: 24px;
    }

    #masthead .mainnav-holder {
        width: 83.33333333% !important;
    }

    .sessao-1 {
        margin: -110px 0 75px;
    }

    .btn-menu {
        position: relative;
        z-index: 12;
        margin: 0 12px 0 0;
    }

    .btn-menu.active .close-nav {
        display: inline;
    }

    .btn-menu.active:before {
        display: none;
    }

    #mainnav-mobi {
        position: relative;
        opacity: 1;
        z-index: 11;
        background: none !important;
    }

    #mainnav-mobi:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 !important;
        /*transform-origin: bottom right;*/
        background-image: linear-gradient(to bottom, #3f7a8a, #255762) !important;
        z-index: 10;
        opacity: 0.8;
    }

    #mainnav-mobi ul {
        margin-top: 150px;
    }

    #mainnav-mobi ul > li {
        cursor: auto !important;
    }

    #mainnav-mobi ul > li > a {
        font-size: 18px;
        line-height: 23px;
        color: #fff;
        font-family: 'Avenir Next LT Pro' !important;
        font-weight: 900 !important;
        text-align: right;
        padding: 10px 28px;
        display: inline-block;
        cursor: pointer !important;
    }

    #slideshow .slide-inner {
        left: 0;
        max-width: 1024px;
    }

    .videos-mobile {
        display: block;
        padding: 0 15px !important;
    }

    #main aside.videos {
        display: none;
    }

    .videos-mobile.owl-theme .owl-controls,
    .articles-mobile.owl-theme .owl-controls,
    .obras-mobile.owl-theme .owl-controls {
        margin-top: 15px !important;
    }

    .articles-mobile .owl-pagination .owl-page span,
    .videos-mobile .owl-pagination .owl-page span,
    .obras-mobile .owl-pagination .owl-page span {
        background-color: #eaeaea;
        width: 8px;
        height: 8px;
        border: none;
    }

    .articles-mobile .owl-pagination .owl-page.active span,
    .videos-mobile .owl-pagination .owl-page.active span,
    .obras-mobile .owl-pagination .owl-page.active span {
        background-color: #84abb9;
    }

    .sessao-1 .hat-home {
        color: #3e3d47;
    }

    .col-f,
    .col-t,
    #footer-gc .col-t{
        text-align: center;
        padding: 5em 0 0;
        margin-bottom: 30px;
    }

    .col-s .menu-menu-1-container {
        display: none;
    }

    .footer-widgets {
        padding: 5em 0 0;
    }

    .lista-obras {
        height: auto;
    }

    .box-img img {
        width: 100%;
        height: auto;
    }

    .bio-box img {
        width: -webkit-fill-available;
        width: 100%;
    }

    #codewidget-8 {
        margin-bottom: 0;
    }

    .newsletter-home .email-news {
        width: 75% !important;
    }
}

@media (max-width: 991px){
    .header-wrap .col-md-8 {
         padding: 15px !important;
    }

    #slideshow .slide-inner,
    #mainnav-mobi .menu-menu-1-container,
    #masthead .social-widget-holder-mobile,
    #masthead .social-widget-holder-mobile .social-widget{
        max-width: 750px;
        margin: auto;
        z-index: 11;
        position: relative;
    }

    .home #content {
        padding: 0 !important;
    }

    #secondary {
        background: none;
    }

    .page-template-page-artigos .article-box {
        margin-bottom: 30px;
    }

    .lista-2 .box-img img {
        width: 100%;
        height: auto;
    }

    .topo-interna h2 {
        padding-top: 30px;
    }

    .box-img img {
        min-height: auto;
    }

    #footer-gc {
        padding-top: 7em !important;
        margin-top: -60px;
    }

    .bg-internas {
        min-height: 15%;
    }
}

@media (max-width: 767px){

    .site-header, .site-header.fixed {
        padding-top: 15px;
        position: absolute !important;
    }

    .btn-menu {
        float: right;
        margin: 0 12px 0 0;
    }

    #slide-next-prev-btns {
        background: none;
        right: auto;
        left: 0;
        top: 65% !important;
    }

    .site-logo {
        float: none !important;
    }

    .text-slider .maintitle, .text-slider .maintitle, .text-slider .subtitle {
        font-size: 28px !important;
        line-height: 30px;
        padding: 0;
        margin-top: 30px;
    }

    .article-box .box-title {
        padding: 5px 0;
        margin: 4px;
    }

    #masthead .site-logo {
        height: 108px;
        width: 112px;
        margin-left: 10px;
    }

    .single .content-area {
        padding-left: 15px;
        padding-right: 15px;
    }

    .bg-internas {
        min-height: 12%;
    }
}

@media (max-width: 620px){
    .topo-interna h2 {
        padding-top: 60px !important;
    }

    .page-template-page-obras .lista-obras {
        min-height: 300px;
    }

    .bg-internas {
        min-height: 10%;
    }
}

@media (max-width: 480px){
    .topo-interna h2 {
        padding-top: 100px !important;
    }
}